{{#each this}}
  <li class="hb" data-id="{{_id}}">
    <div class="hb__wrap">

      <div class="hb__header">
        <img class="hb__thumb" src="http://cdn1.www.st-hatena.com/users/ko/{{creator}}/profile.gif" alt="">
        <span class="hb__user">{{creator}}</span>
        <span class="hb__date">{{date}}</span>
      </div>

      <div class="hb__content">
        <a class="hb__title" href="{{link}}" target="_blank">{{title}}</a>
        {{#if description}}
          <p class="hb__desc">{{description}}</p>
        {{/if}}

        {{#if body}}
          <p class="hb__body">{{body}}</p>
        {{/if}}
      </div>

      <div class="hb__footer">

        <svg class="hb__pocket" data-url="{{link}}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="16px" height="16px" viewBox="0 0 16 16">
          <path d="M12,2H4C2.896,2,2,2.896,2,4v3c0,3.313,2.687,6,6,6s6-2.687,6-6V4 C14,2.896,13.104,2,12,2z M11.707,6.707L8.879,9.535L8.846,9.502C8.671,9.794,8.365,10,8,10S7.329,9.794,7.154,9.502L7.121,9.535 L4.293,6.707c-0.391-0.391-0.391-1.024,0-1.414c0.39-0.391,1.023-0.391,1.414,0L8,7.586l2.293-2.293 c0.391-0.391,1.023-0.391,1.414,0C12.098,5.683,12.098,6.316,11.707,6.707z"/>
        </svg>
        <p class="hb__count">{{hatenaBookmarkCount}}</p>
      </div>
    </div>
  </li>
  {{/each}}
